<html>
  <head>
    <title>Login and Reg | Home</title>
  </head>
  <style>
  .login {
    width:275px;
    border-style: solid;
    height: 300px;
    display:inline-block;
  }
  </style>
  <body>
    <form action = "/register" method='post' class = "login">
      {% csrf_token %}
      <table>
        <tr>
          <h1>Register</h1>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type='email' name='email'></td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td><input type='text' name='first_name'></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type='text' name='last_name'></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type='password' name='password'></td>
        </tr>
        <tr>
          <td>Confirm pass:</td>
          <td><input type='password' name='confirm'></td>
        </tr>
        <tr>
          <td><input type='submit' value='create user'></td>
        </tr>
      </table>
    </form>

    <form action = "/login" method='post' class = "login">
      {% csrf_token %}
      <table>
        <tr>
          <h1>Login</h1>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type='email' name='loginemail'></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type='password' name='loginpassword'></td>
        </tr>
        <tr>
          <td><input type='submit' value='create user'></td>
        </tr>
      </table>
    </form>

<h1>checking to see if changes work</h1>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
